{%- if cookiecutter.ci_platform == 'gitlab' %}
image: golang:1.25

stages:
  - build
  - test

build:
  stage: build
  script:
    - go build -v ./...
  artifacts:
    paths:
      - {{ cookiecutter.project_name }}

test:
  stage: test
  script:
    - go test -v ./...
{%- endif %}
